.ca{
    width: 450px;
    height: auto;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ca img{
    width: 450px;
    margin-bottom:5px;
}
.ca h4{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 20px;
    text-align: center;
}