<!-- header section start -->
<section class="header sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><span class="logo">
                        <img src="/assets/images/logo.png">
                    </span>
                    Navbar</a>
                <button class="navbar-toggler menu-toggle" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services">Services</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#price">Price</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#gallary">Gallary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#expert">Expert</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                        <li class="search_bar ipad-d-none toggle-overlay">
                            <span class="d-none d-lg-block">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                            <span class="d-lg-none">
                                <a href="javascript:void(0)">
                                    Search
                                </a>
                            </span>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</section>
<!-- header section end -->
<!-- search bar box start -->
<div class="search-overlay">
    <div class="outer-class toggle-overlay">
        <a href="" class="close">
            <span></span>
        </a>
    </div>
    <form action="#" method="get" class="fullscreen-searchform">
        <input type="text" class="search-box" name="s" placeholder="Search..." autocomplete="off">
        <i class="fa fa-search fullscreen-search-icon">

        </i>
    </form>
</div>
<section class="home" id="home">
    <div class="hm-co">
        <h3>Welcome To SPA Care</h3>
        <h1>Beauty & SPA Wellness</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eos animi architecto?</p>
        <button>Take Appoinment</button>
    </div>
</section>
<!-- search bar box end -->

<section class="services" id="services">
    <h1>our <span>services</span></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint similique et incidunt, enim voluptas omnis esse
        tenetur. Aut, a optio.</p>
    <div class="container mb-3">
        <div class="row">
            <div class="col-xl-3">
                <div class="s-card">
                    <div class="s-img">
                        <img src="/assets/images/home-bg.jpg">
                    </div>
                    <div class="overlay">
                        <button class="bn">Book Now</button>
                    </div>
                    <h4>Oil Massage</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt in, illo repellat labore libero
                        et.</p>
                    <h5>$25.89</h5>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="s-card">
                    <div class="s-img">
                        <img src="/assets/images/home-bg.jpg">
                    </div>
                    <div class="overlay">
                        <button class="bn">Book Now</button>
                    </div>
                    <h4>Skin Care</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt in, illo repellat labore libero
                        et.</p>
                    <h5>$57.89</h5>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="s-card">
                    <div class="s-img">
                        <img src="/assets/images/home-bg.jpg">
                    </div>
                    <div class="overlay">
                        <button class="bn">Book Now</button>
                    </div>
                    <h4>Natural Relaxation</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt in, illo repellat labore libero
                        et.</p>
                    <h5>$59.09</h5>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="s-card">
                    <div class="s-img">
                        <img src="/assets/images/home-bg.jpg">
                    </div>
                    <div class="overlay">
                        <button class="bn">Book Now</button>
                    </div>
                    <h4>Nails Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt in, illo repellat labore libero
                        et.</p>
                    <h5>$59.49</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features" id="features">
    <div class="overlay">
    <h1>our <span>features</span></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ipsum fugiat odit ullam ratione
        inventore!</p>
    <div class="container mb-3 pt-3">
        <div class="row">
            <div class="col-xl-3">
                <div class="fe-card">
                    <div class="fe-i">
                        <img src="/assets/images/home-bg.jpg">
                    </div>
                    <h3>hair expert</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="fe-card">
                    <div class="fe-i">
                        <img src="/assets/images/home-bg.jpg">
                    </div>
                    <h3>hair expert</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="fe-card">
                    <div class="fe-i">
                        <img src="/assets/images/home-bg.jpg">
                    </div>
                    <h3>hair expert</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="fe-card">
                    <div class="fe-i">
                        <img src="/assets/images/home-bg.jpg">
                    </div>
                    <h3>hair expert</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section class="prices" id="price">
    <h1 class="hd">Our <span>Pricing</span></h1>
    <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, ratione animi tenetur maxime assumenda veritatis debitis distinctio commodi aspernatur ipsum.</p>
<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-xl-4">
            <div class="prc">
                <h2>Silver Pack</h2>
                <h1>$50 <sub>/per month</sub></h1>
                <ul>
                    <li>Nail Cutting & Styling</li>
                    <li>Hot Hair Coloring</li>
                    <li>Hot Oil Massage</li>
                    <li>Body Wraps</li>
                </ul>
                <button class="sp">Select Plan</button>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="prc">
                <h2>Silver Pack</h2>
                <h1>$50 <sub>/per month</sub></h1>
                <ul>
                    <li>Nail Cutting & Styling</li>
                    <li>Hot Hair Coloring</li>
                    <li>Hot Oil Massage</li>
                    <li>Body Wraps</li>
                </ul>
                <button class="sp">Select Plan</button>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="prc">
                <h2>Silver Pack</h2>
                <h1>$50 <sub>/per month</sub></h1>
                <ul>
                    <li>Nail Cutting & Styling</li>
                    <li>Hot Hair Coloring</li>
                    <li>Hot Oil Massage</li>
                    <li>Body Wraps</li>
                </ul>
                <button class="sp">Select Plan</button>
            </div>
        </div>
    </div>
</div>
</section>
<section class="expert" id="expert">
    <h1 class="hd mb-3">Our <span>Expert</span></h1>
    <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam placeat vero beatae. Error voluptatibus modi vel. Itaque maiores error dolorem.</p>
    <div class="container mb-3">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="exp">
<div class="slid">
    <img src="/assets/images/home-bg.jpg">
    <div class="overlay">
        <h1>Agustina</h1>
        <h3>Massagist</h3>
        <div class="social">
            <div class="rect">
                <i class="fa fa-facebook"></i>
            </div>
            <div class="rect">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="rect">
                <i class="fa fa-linkedin"></i>
            </div>
        </div>
    </div>
</div>
                </div>
            </div>
            <div class="item">
                <div class="exp">
<div class="slid">
    <img src="/assets/images/home-bg.jpg">
    <div class="overlay">
        <h1>Agustina</h1>
        <h3>Massagist</h3>
        <div class="social">
            <div class="rect">
                <i class="fa fa-facebook"></i>
            </div>
            <div class="rect">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="rect">
                <i class="fa fa-linkedin"></i>
            </div>
        </div>
    </div>
</div>
                </div>
            </div>
            <div class="item">
                <div class="exp">
<div class="slid">
    <img src="/assets/images/home-bg.jpg">
    <div class="overlay">
        <h1>Agustina</h1>
        <h3>Massagist</h3>
        <div class="social">
            <div class="rect">
                <i class="fa fa-facebook"></i>
            </div>
            <div class="rect">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="rect">
                <i class="fa fa-linkedin"></i>
            </div>
        </div>
    </div>
</div>
                </div>
            </div>
            <div class="item">
                <div class="exp">
<div class="slid">
    <img src="/assets/images/home-bg.jpg">
    <div class="overlay">
        <h1>Agustina</h1>
        <h3>Massagist</h3>
        <div class="social">
            <div class="rect">
                <i class="fa fa-facebook"></i>
            </div>
            <div class="rect">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="rect">
                <i class="fa fa-linkedin"></i>
            </div>
        </div>
    </div>
</div>
                </div>
            </div>
            <div class="item">
                <div class="exp">
<div class="slid">
    <img src="/assets/images/home-bg.jpg">
    <div class="overlay">
        <h1>Agustina</h1>
        <h3>Massagist</h3>
        <div class="social">
            <div class="rect">
                <i class="fa fa-facebook"></i>
            </div>
            <div class="rect">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="rect">
                <i class="fa fa-linkedin"></i>
            </div>
        </div>
    </div>
</div>
                </div>
            </div>
            <div class="item">
                <div class="exp">
<div class="slid">
    <img src="/assets/images/home-bg.jpg">
    <div class="overlay">
        <h1>Agustina</h1>
        <h3>Massagist</h3>
        <div class="social">
            <div class="rect">
                <i class="fa fa-facebook"></i>
            </div>
            <div class="rect">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="rect">
                <i class="fa fa-linkedin"></i>
            </div>
        </div>
    </div>
</div>
                </div>
            </div>
        </div>
    </div>
</section>